# Репозитории (HTTPS или git@github.com:...)
API_REPO=https://github.com/AshimBayashev/scheduler-api.git
UI_REPO=https://github.com/AshimBayashev/scheduler-ui.git

DB_USER=scheduler
DB_PASSWORD=ЗАМЕНИ_НА_ДЛИННЫЙ_ПАРОЛЬ
DB_NAME=scheduler

JWT_SECRET=ЗАМЕНИ_НА_СЛУЧАЙНУЮ_СТРОКУ_64_СИМВОЛА

CORS_ORIGIN=https://zalupa0613.kz
VITE_API_URL=https://api.zalupa0613.kz
